<nz-layout>
    <nz-content class="outer-content">
        <nz-layout class="inner-layout">
            <nz-content class="inner-content" nz-row [nzGutter]="24">
              
                <form nz-form  [formGroup]="registerForm" (ngSubmit)="submitForm(registerForm.value)">
                  <nz-spin [nzSpinning]="isLoading" >
                  <nz-form-item style="text-align: center;">
                      <h1 nz-title>Halupa.by</h1>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control nzHasFeedback nzValidatingTip="Проверка..." [nzErrorTip]="userErrorTpl">
                      <nz-input-group nzPrefixIcon="user"  nzSize="large">
                        <input nz-input 
                        formControlName="userName" 
                        id="userName"
                        placeHolder="Имя пользователя"  
                        />
                        <ng-template #userErrorTpl let-control>
                          <ng-container *ngIf="control.hasError('duplicated')">
                            Имя уже занято!
                          </ng-container>
                        </ng-template>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control>
                      <nz-input-group nzPrefixIcon="lock" [nzSize]="'large'">
                        <input nz-input 
                        type="password"
                        formControlName="password" 
                        id="password" 
                        placeholder="Пароль"
                        />
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-control >
                      <button nz-button 
                      nzType="primary" 
                      [nzSize]="'large'" 
                      [disabled]="!registerForm.valid"
                      style="width: 100%;">Регистрация</button>
                    </nz-form-control>
                  </nz-form-item>
                </nz-spin>
                </form>
             
            </nz-content>
        </nz-layout>
    </nz-content>
</nz-layout>