<form 
nz-form 
[formGroup]="form" 
nzLayout="vertical"
>
<nz-upload
    nzAction="{{uploadUrl}}"
    [nzHeaders]="headers"
    nzListType="picture-card"
    [nzBeforeUpload]="beforeUpload"
    [nzRemove]="onDelete"
    [nzShowUploadList]="showUploadList"
    [(nzFileList)]="fileList"
    [nzShowButton]="fileList.length < 3"
    [nzAccept]="'image/png,image/jpeg,image/gif,image/jpg'"
    nzFileType="image/png,image/jpeg,image/gif,image/jpg"
    (nzChange)="onChange($event)"
    ><!--nzSize 3mb-->
    <p class="ant-upload-drag-icon">
        <i nz-icon nzType="upload"></i>       
    </p>
    <p class="ant-upload-text">Загрузите изображение</p>
</nz-upload>
<input nz-input type="hidden" formControlName="files">
<nz-divider [nzText]="cityStreet">
    <ng-template #cityStreet>
        Город, улица
    </ng-template>
</nz-divider>
  
<div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="12">
        <nz-form-item >
            <nz-form-label nzRequired nzFor="city">Выберите город</nz-form-label>
            <nz-form-control 
            nzHasFeedback
            nzErrorTip="Выберите город!">
                <nz-select 
                [(ngModel)]="selectedCity"
                formControlName="city"
                [nzSize]="'large'"
                nzPlaceHolder="Выберите город">
                  <nz-option
                    *ngFor="let city of listOfCities"
                    [nzLabel]="city.label"
                    [nzValue]="city.value"
                    >
                  </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12">
        <nz-form-item>
            <nz-form-label nzRequired nzFor="street">Укажите улицу</nz-form-label>
            <nz-form-control>
                <nz-select
                nzShowSearch 
                [nzSize]="'large'"
                formControlName="street"
                nzPlaceHolder="Название"
                [(ngModel)]="selectedStreet"
                [nzShowArrow]="false"
              >
                <nz-option *ngFor="let o of listOfStreet" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
              </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
</div>
<nz-divider [nzText]="house">
    <ng-template #house>
        Дом
    </ng-template>
</nz-divider>
<div nz-row [nzGutter]="16" >
    <div nz-col [nzSpan]="6">
            <nz-form-item >
                <nz-form-label nzRequired nzFor="numberOfHouse">Дом</nz-form-label>
                <nz-form-control
                nzHasFeedback
                nzErrorTip="Укажите номер">
                    <nz-input-number style="width: 100%;"
                    [(ngModel)]="numberOfHouse"
                    [nzSize]="'large'"
                    formControlName="numberOfHouse"
                    nzPlaceHolder="№"
                    [nzMin]="1"
                    [nzMax]="1000"
                    [nzStep]="1"
                    [nzId]="numberOfHouse"
                    ></nz-input-number>
                </nz-form-control>
            </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
        <nz-form-item>
            <nz-form-label nzFor="numberOfHouseCourpus">Корпус</nz-form-label>
            <nz-form-control>
                    <nz-input-number style="width: 100%;"
                    [(ngModel)]="numberOfHouseCourpus"
                    [nzSize]="'large'"
                    formControlName="numberOfHouseCourpus"
                    nzPlaceHolder="№"
                    [nzMin]="1"
                    [nzMax]="1000"
                    [nzStep]="1"
                    [nzId]="numberOfHouseCourpus"
                    ></nz-input-number>
                </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
        <nz-form-item>
            <nz-form-label nzFor="numberOfSubHouse">Подъезд</nz-form-label>
            <nz-form-control
            nzHasFeedback
            nzErrorTip="Укажите номер">
                    <nz-input-number style="width: 100%;"
                    [(ngModel)]="numberOfSubHouse"
                    [nzSize]="'large'"
                    formControlName="numberOfSubHouse"
                    nzPlaceHolder="№"
                    [nzMin]="1"
                    [nzMax]="1000"
                    [nzStep]="1"
                    [nzId]="numberOfSubHouse"
                    ></nz-input-number>
                </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
        <nz-form-item>
            <nz-form-label nzRequired nzFor="numberOfFlat">Квартира</nz-form-label>
            <nz-form-control
            nzHasFeedback
            nzErrorTip="Укажите номер">
                    <nz-input-number style="width: 100%;"
                    [(ngModel)]="numberOfFlat"
                    [nzSize]="'large'"
                    formControlName="numberOfFlat"
                    nzPlaceHolder="№"
                    [nzMin]="1"
                    [nzMax]="1000"
                    [nzStep]="1"
                    [nzId]="numberOfFlat"
                    ></nz-input-number>
                </nz-form-control>
        </nz-form-item>
    </div>
</div>
<div nz-row nzGutter="16">
    <div nz-col nzSpan="6">
        <nz-form-item >
            <nz-form-label nzRequired nzFor="floor">Этаж</nz-form-label>
            <nz-form-control 
            nzHasFeedback
            nzErrorTip="Укажите этаж">
                    <nz-input-number style="width: 100%;"
                    [(ngModel)]="floor"
                    [nzSize]="'large'"
                    formControlName="floor"
                    nzPlaceHolder="№"
                    [nzMin]="1"
                    [nzMax]="1000"
                    [nzStep]="1"
                    [nzId]="floor"
                    ></nz-input-number>
                </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-col nzSpan="6">
        <nz-form-item >
            <nz-form-label nzRequired nzFor="allFloor">Этажей всего</nz-form-label>
            <nz-form-control
            nzHasFeedback
            nzErrorTip="Сколько этажей в доме?">
                    <nz-input-number style="width: 100%;"
                    [(ngModel)]="allFloor"
                    [nzSize]="'large'"
                    formControlName="allFloor"
                    nzPlaceHolder="№"
                    [nzMin]="1"
                    [nzMax]="1000"
                    [nzStep]="1"
                    [nzId]="allFloor"
                    ></nz-input-number>
                </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-col nzSpan="6">
        <nz-form-item >
            <nz-form-label nzRequired nzFor="rooms">Комнат</nz-form-label>
            <nz-form-control
            nzHasFeedback
            nzErrorTip="Сколько этажей в доме?">
                    <nz-input-number style="width: 100%;"
                    [(ngModel)]="rooms"
                    [nzSize]="'large'"
                    formControlName="rooms"
                    nzPlaceHolder="Кол-во"
                    [nzMin]="1"
                    [nzMax]="100"
                    [nzStep]="1"
                    [nzId]="rooms"
                    ></nz-input-number>
                </nz-form-control>
        </nz-form-item>
    </div>
</div>
<nz-divider [nzText]="comfort">
    <ng-template #comfort>
        Удобства
    </ng-template>
</nz-divider>
<div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="6">
        <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="furniture">Мебель</label>
            </nz-form-control>
          </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
        <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="refrigerator">Холодильник</label>
            </nz-form-control>
          </nz-form-item>
    </div>
    <div nz-col [nzSpan]="10">
        <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="microwaveOven">Микроволновая печь</label>
            </nz-form-control>
          </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
        <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="internet">Интернет</label>
            </nz-form-control>
          </nz-form-item>
    </div>
    <div nz-col [nzSpan]="10">
        <nz-form-item>
            <nz-form-control>
              <label nz-checkbox formControlName="washingMachine">Стиральная машина</label>
            </nz-form-control>
          </nz-form-item>
    </div>
</div>
<nz-divider [nzText]="priceSector">
    <ng-template #priceSector>
        Стоимость
    </ng-template>
</nz-divider>
<div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="12">
        <nz-form-item >
            <nz-form-label nzRequired nzFor="duration">Тип аренды</nz-form-label>
            <nz-form-control 
            nzHasFeedback
            nzErrorTip="Укажите срок!">
                <nz-select 
                [(ngModel)]="selectedDuration"
                formControlName="duration"
                [nzSize]="'large'"
                nzPlaceHolder="Выберите срок">
                  <nz-option
                    *ngFor="let duration of listOfDuration"
                    [nzLabel]="duration.label"
                    [nzValue]="duration.value"
                    >
                  </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-col [nzSpan]="12" >
        <nz-form-item>
            <nz-form-label  nzRequired nzFor="price">Цена</nz-form-label>
            <nz-form-control 
            nzHasFeedback 
            nzErrorTip="Укажите цену!">
                <nz-input-number style="width: 100%;"
                [(ngModel)]="price"
                [nzSize]="'large'"
                formControlName="price"
                [nzPlaceHolder]="100"
                [nzMin]="10"
                [nzMax]="10000"
                [nzStep]="10"
                [nzFormatter]="formatterDollar"
                [nzParser]="parserDollar"
                [nzId]="price"
                ></nz-input-number>
            </nz-form-control>
        </nz-form-item>
    </div>
</div>
<nz-divider [nzText]="contacts">
    <ng-template #contacts>
        Контакты
    </ng-template>
</nz-divider>
<div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="12">
        <nz-form-item >
            <nz-form-label  nzRequired nzFor="phoneNumber">Телефон</nz-form-label>
            <nz-form-control             
            nzHasFeedback>
            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" nzSize="large">
                <ng-template #addOnBeforeTemplate>
                  <nz-select 
                  [(ngModel)]="selectedPhoneNumberPrefix"
                  formControlName="phoneNumberPrefix" 
                  nzSize="large" 
                  >
                    <nz-option
                    *ngFor="let phoneNumberPrefix of listOfPhoneNumberPrefix"
                    [nzLabel]="phoneNumberPrefix.text"
                    [nzValue]="phoneNumberPrefix.value"
                    >
                    </nz-option>
                  </nz-select>
                </ng-template>
                <input nzSize="large"
                [(ngModel)]="phoneNumber"
                formControlName="phoneNumber" 
                id="'phoneNumber'" 
                placeholder="(29)1234567"
                nz-input type="tel" maxlength="9"/>
              </nz-input-group>
            </nz-form-control>
        </nz-form-item>
    </div>
</div>
    <nz-form-item >
    <nz-form-label nzRequired nzFor="description">Описание</nz-form-label>
        <nz-form-control
        nzHasFeedback 
        [nzErrorTip]="descriptionErrorTpl">
                <textarea 
                [nzSize]="'large'"
                formControlName="description"
                placeholder="Ваш комментарий"
                [nzAutosize]="{ minRows: 4, maxRows: 6 }" 
                nz-input></textarea>
            <ng-template #descriptionErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    Добавьте комментарий!
                </ng-container>
                <ng-container *ngIf="control.hasError('notOnlySpace')">
                    Комментарий не должен быть пустым!
                </ng-container>
            </ng-template>
        </nz-form-control>        
    </nz-form-item>

</form>