
<nav *ngIf="isVisible">
    
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn" (click)="onSwitchChange()">
            <i nz-icon nzType="menu" nzTheme="outline" ></i>
        </label>
        <label >
            <a [routerLink]="[ '/' ]" (click)="onCloseMenu()">Halupa.by</a>
        </label>
        
            <ul [style.left]="switch?'0':'-100%'" >
            <li><a [routerLink]="[ '/flats' ]" (click)="onSwitchChange()">Квартиры</a></li>
            <li><a [routerLink]="[ '/houses' ]" (click)="onSwitchChange()">Дома</a></li>
            <li><a [routerLink]="[ '/create-advert' ]" (click)="onSwitchChange()">Добавить объявление</a></li>
            <li>
                <ng-container *ngIf="authService.isLogedIn() |async; then profile else enter"></ng-container>
                <ng-template #enter>
                    <a [routerLink]="[ '/login' ]" (click)="onSwitchChange()">
                        <i nz-icon nzType="login" nzTheme="outline"></i>    
                        Войти
                    </a>
                </ng-template>
                <ng-template #profile>
                    <a [routerLink]="[ '/profile' ]" (click)="onSwitchChange()">
                        <i nz-icon nzType="user" nzTheme="outline"></i>    
                        Профиль
                    </a>
                </ng-template>
            </li>
            </ul>
</nav>