    <div nz-row nzJustify="center" *ngIf="!isLoading" nzGutter="24">
        <div nz-col
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 18 }" 
        [nzMd]="{ span : 14 }" 
        [nzLg]="{ span : 10 }" 
        [nzXl]="{ span : 8 }">
            <app-slider *ngIf="images" [images]="images"></app-slider>
        </div>
        <div nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 24 }" 
        [nzMd]="{ span : 24 }" 
        [nzLg]="{ span : 14 }" 
        [nzXl]="{ span : 16 }">
            <nz-descriptions  [nzTitle]='mainInfoTpl'>
                <ng-template #mainInfoTpl>
                    <nz-divider nzText="Основная информация"></nz-divider>
                </ng-template>
                <nz-descriptions-item nzTitle="Адрес" nzSpan="3" >{{advert.address}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Дата создания" >{{ advert.created | date : 'shortDate' : '' : 'ru' }}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Цена" >{{advert.price | currency}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Тип аренды">{{ advert.duration | duration }}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Этаж">{{advert.floor}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Всего этажей">{{advert.allFloor}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Балкон">{{advert.balcony | balcony}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Описание">{{advert.description}}</nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions  nzColon="false" [nzTitle]='additionalInfoTpl'>
                <ng-template #additionalInfoTpl>
                    <nz-divider nzText="Дополнительная информация"></nz-divider>
                </ng-template>
                <nz-descriptions-item >
                    <nz-badge nzDot [nzShowDot]="false">
                        <ng-container *ngIf="advert.furniture; then existFurnitureTpl; else notExistFurnitureTpl"></ng-container>
                        <ng-template #existFurnitureTpl>
                            <i nz-icon nzType="check" nzTheme="outline"></i>
                        </ng-template>
                        <ng-template #notExistFurnitureTpl>
                            <i nz-icon nzType="stop" nzTheme="outline"></i>
                        </ng-template>
                    Мебель</nz-badge>
                </nz-descriptions-item>
                <nz-descriptions-item >
                    <nz-badge nzDot [nzShowDot]="false">
                        <ng-container *ngIf="advert.refrigerator; then existRefrigeratorTpl; else notExistRefrigeratorTpl"></ng-container>
                        <ng-template #existRefrigeratorTpl>
                            <i nz-icon nzType="check" nzTheme="outline"></i>
                        </ng-template>
                        <ng-template #notExistRefrigeratorTpl>
                            <i nz-icon nzType="stop" nzTheme="outline"></i>
                        </ng-template>
                    Холодильник</nz-badge>
                </nz-descriptions-item>
                <nz-descriptions-item >
                    <nz-badge nzDot [nzShowDot]="false">
                        <ng-container *ngIf="advert.microwaveOven; then existMicrowaveOvenTpl; else notExistMicrowaveOvenTpl"></ng-container>
                        <ng-template #existMicrowaveOvenTpl>
                            <i nz-icon nzType="check" nzTheme="outline"></i>
                        </ng-template>
                        <ng-template #notExistMicrowaveOvenTpl>
                            <i nz-icon nzType="stop" nzTheme="outline"></i>
                        </ng-template>
                    Микроволновая печь</nz-badge>
                </nz-descriptions-item>
                <nz-descriptions-item >
                    <nz-badge nzDot [nzShowDot]="false">
                        <ng-container *ngIf="advert.internet; then existInternetTpl; else notExistInternetTpl"></ng-container>
                        <ng-template #existInternetTpl>
                            <i nz-icon nzType="check" nzTheme="outline"></i>
                        </ng-template>
                        <ng-template #notExistInternetTpl>
                            <i nz-icon nzType="stop" nzTheme="outline"></i>
                        </ng-template>
                    Интернет</nz-badge>
                </nz-descriptions-item>
                <nz-descriptions-item >
                    <nz-badge nzDot [nzShowDot]="false">
                        <ng-container *ngIf="advert.washingMachine; then existWashingMachinTpl; else notWashingMachinTpl"></ng-container>
                        <ng-template #existWashingMachinTpl>
                            <i nz-icon nzType="check" nzTheme="outline"></i>
                        </ng-template>
                        <ng-template #notWashingMachinTpl>
                            <i nz-icon nzType="stop" nzTheme="outline"></i>
                        </ng-template>
                    Стиральная машина</nz-badge>
                </nz-descriptions-item>
            </nz-descriptions>
            <nz-descriptions nzColon="false" [nzTitle]='contactsTpl'>
                <ng-template #contactsTpl>
                    <nz-divider nzText="Контакты"></nz-divider>
                </ng-template>
                <nz-descriptions-item >
                    <button nz-button nzSize="large" [nzType]="primary" (click)="onClick()">
                        <i nz-icon nzType="phone" nzTheme="outline"></i>{{ phone }}
                    </button>
                </nz-descriptions-item>
            </nz-descriptions>
        </div>
    </div>