<nz-skeleton [nzLoading]="isLoading">
    <div nz-row nzJustify="center" *ngIf="!isLoading" >
        <div nz-col
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 24 }" 
        [nzMd]="{ span : 24 }" 
        [nzLg]="{ span : 24 }" 
        [nzXl]="{ span : 24 }">
            <app-slider *ngIf="images" [images]="images"></app-slider>
        </div>
        <div nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 24 }" 
        [nzMd]="{ span : 24 }" 
        [nzLg]="{ span : 24 }" 
        [nzXl]="{ span : 24 }">
            <nz-descriptions  nzTitle="{{advert.address}}">
                <nz-descriptions-item nzTitle="Дата создания" >{{ advert.created | date : 'shortDate' : '' : 'ru' }}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Цена" >{{advert.price | currency}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Тип аренды">{{ advert.duration | duration }}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Описание">{{advert.description}}</nz-descriptions-item>
            </nz-descriptions>
        </div>
    </div>
</nz-skeleton>
