      <nz-select [nzSize]="'large'"
        nzShowSearch
        nzServerSearch [(ngModel)]="inputValue"
                 (ngModelChange)="onSelectionChange()"
        nzPlaceHolder="Например: Лермонтова 2, Несвиж"
        [nzShowArrow]="false" (nzBlur)="onTouched()"
        (nzOnSearch)="yandexGeocoderService.onSearch($event)">
        <nz-option *ngFor="let option of yandexGeocoderService.optionList"
                   [nzLabel]="option.GeoObject.metaDataProperty.GeocoderMetaData.text"
                   [nzValue]="option">
        </nz-option>
      </nz-select>
