<div nz-row [formGroup]="group">
  <nz-divider [nzText]="addressTpl">
    <ng-template #addressTpl>
      Адрес
    </ng-template>
  </nz-divider>
<!--  <nz-form-item nz-col-->
<!--                [nzXs]="{ span : 24 }"-->
<!--                [nzSm]="{ span : 24 }"-->
<!--                [nzMd]="{ span : 24 }"-->
<!--                [nzLg]="{ span : 24 }"-->
<!--                [nzXl]="{ span : 24 }" >-->
<!--    <nz-form-label nzRequired nzFor="city">Выберите город</nz-form-label>-->
<!--    <nz-form-control-->
<!--      nzHasFeedback-->
<!--      nzErrorTip="Выберите город!">-->
<!--      <nz-select nzShowSearch nzAllowClear-->
<!--                 formControlName="city"-->
<!--                 [nzSize]="'large'"-->
<!--                 nzPlaceHolder="Выберите город">-->
<!--        <nz-option-->
<!--          *ngFor="let city of suggestService.listOfCities"-->
<!--          [nzLabel]="city.name"-->
<!--          [nzValue]="city"-->
<!--        >-->
<!--        </nz-option>-->
<!--      </nz-select>-->
<!--    </nz-form-control>-->
<!--  </nz-form-item>-->
  <nz-form-item nz-col
                [nzXs]="{ span : 24 }"
                [nzSm]="{ span : 24 }"
                [nzMd]="{ span : 24 }"
                [nzLg]="{ span : 24 }"
                [nzXl]="{ span : 24 }">
    <nz-form-label nzRequired nzFor="address">Укажите адрес</nz-form-label>

    <nz-form-control  nzHasFeedback  nzErrorTip="Укажите адрес!" >
      <nz-input-group nzSize="large" [nzSuffix]="suffixIcon">
        <input placeholder="Например: Несвиж лермонтова 2" nz-input  formControlName="exactLocation"
               (ngModelChange)="yandexGeocoderService.onSearch($event)"
               [nzAutocomplete]="auto" />
      </nz-input-group>
      <ng-template #suffixIcon>
        <i nz-icon nzType="search"></i>
      </ng-template>
      <nz-autocomplete #auto>
        <nz-auto-option *ngFor="let option of yandexGeocoderService.optionList"
                        [nzLabel]="option.GeoObject.metaDataProperty.GeocoderMetaData.text"
                        [nzValue]="option.GeoObject.metaDataProperty.GeocoderMetaData.text">
          {{ option.GeoObject.metaDataProperty.GeocoderMetaData.text }}
        </nz-auto-option>
      </nz-autocomplete>
    </nz-form-control>
    <p><small>Начинайте вводить и выберите адрес из подсказок</small></p>
  </nz-form-item>
</div>
