<div class="logo" nz-row nzJustify="center" >
    <div nz-col style="text-align: center;"
    [nzXs]="{ span : 24 }" 
    [nzSm]="{ span : 24 }" 
    [nzMd]="{ span : 24 }" 
    [nzLg]="{ span : 24 }" 
    [nzXl]="{ span : 24 }">
        <app-logo [isMenu]="false"></app-logo>
        <h1 nz-typography>Halupa.by</h1>
        <span nz-typography nzType="secondary">
            Сайт по аренде и продаже недвижимости №1 в Беларуси
        </span>
    </div>
</div>
<nz-divider [nzText]="lastAdvertsTpl" nzOrientation="left"></nz-divider>
<ng-template #lastAdvertsTpl>
    <i nz-icon nzType="filter" nzTheme="outline"></i> Последние объявления
</ng-template>
<div nz-row nzGutter="24">
    <div nz-col 
    [nzXs]="{ span : 24 }" 
    [nzSm]="{ span : 12 }" 
    [nzMd]="{ span : 8 }" 
    [nzLg]="{ span : 6 }" 
    [nzXl]="{ span : 6 }">
        <app-advert-card *ngIf="advertFlatRent" [item]="advertFlatRent" [advertType]="flatRentType"></app-advert-card>
    </div>
    <div nz-col 
    [nzXs]="{ span : 24 }" 
    [nzSm]="{ span : 12 }" 
    [nzMd]="{ span : 8 }" 
    [nzLg]="{ span : 6 }" 
    [nzXl]="{ span : 6 }">
        <app-advert-card *ngIf="advertFlatSale" [item]="advertFlatSale" [advertType]="flatSaleType"></app-advert-card>
    </div>
    <div nz-col 
    [nzXs]="{ span : 24 }" 
    [nzSm]="{ span : 12 }" 
    [nzMd]="{ span : 8 }" 
    [nzLg]="{ span : 6 }" 
    [nzXl]="{ span : 6 }">
        <app-advert-card *ngIf="advertHouseRent" [item]="advertHouseRent" [advertType]="houseRentType"></app-advert-card>
    </div>
    <div nz-col 
    [nzXs]="{ span : 24 }" 
    [nzSm]="{ span : 12 }" 
    [nzMd]="{ span : 8 }" 
    [nzLg]="{ span : 6 }" 
    [nzXl]="{ span : 6 }">
        <app-advert-card *ngIf="advertHouseSale" [item]="advertHouseSale" [advertType]="houseSaleType"></app-advert-card>
    </div>
</div>