<div nz-row [ngClass]="{disabledbutton:isPaySuccess}" >
    <ngx-stripe-card nz-col
        [nzXs]="{ span : 24 }"
        [nzSm]="{ span : 14 }"
        [nzMd]="{ span : 24 }"
        [nzLg]="{ span : 14 }"
        [nzXl]="{ span : 14 }"
        [options]="cardOptions"
        [elementsOptions]="elementsOptions"
        (change)="onChangeCard($event)"
    ></ngx-stripe-card>
    <a nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 10 }"
    [nzMd]="{ span : 24 }"
    [nzLg]="{ span : 10 }"
    [nzXl]="{ span : 10 }" 
    type="submit" 
    nz-button 
    nzBlock="true" 
    [nzType]="isPaySuccess?'link':'primary'" 
    [disabled]="!isValidStripeForm" 
    (click)="createToken()"
    >
        <i nz-icon [nzType]="isPaySuccess?'check':'wallet'" nzTheme="outline"></i> <span *ngIf="isPaySuccess">Оплачено</span> <span *ngIf="!isPaySuccess">Оплатить, 1 USD</span> 
    </a>
    <div id="card-errors"></div>
</div>