
<div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    <div style="background: #ECECEC;padding:30px;">
      <div  nz-row [nzGutter]="8" >
        <div *ngFor="let flat of flats" nz-col  [nzSpan]="8" style="margin-bottom: 16px;" >
          <nz-card  
            [nzCover]="flatCoverTpl"
            [nzLoading]="loading"
            nzTitle="{{flat.price}}$">
            <p>{{flat.description}}</p>
          </nz-card>
          <ng-template #flatCoverTpl>
            <img src="{{ flat.file.linkProps.download }}">
          </ng-template>
        </div>
      </div>
    </div>
</div>
