<nz-layout>
    <nz-content class="outer-content">
        <nz-layout class="inner-layout">
            <nz-content class="inner-content" nz-row [nzGutter]="24" nzType="flex" nzJustify="center">
                <div nz-col nzSpan="24" style="text-align:center">
                    <embed src="assets/halupa.svg" id="halupa">
                    <h1 nz-title >Halupa.by</h1>

                    <nz-divider [nzText]="text" class="slogan">
                        <ng-template #text>
                            <span >
                                <strong>Сайт по аренде жилья в Несвиже</strong>
                            </span>
                        </ng-template>
                    </nz-divider>
                </div>
                <div nz-col nzSpan="24">
                    <app-search style="text-align: center;"></app-search>
                </div>
            </nz-content>
        </nz-layout>
    </nz-content>
</nz-layout>