<nz-upload
ngDefaultControl
[nzAction]="actionUrl"
[nzHeaders]="headers"
(nzBlur)="onTouched()"
[nzShowUploadList]="showUploadList"
[nzListType]="'picture'"
[nzFileList]="fullInfoImageList"
[nzShowButton]="fullInfoImageList.length < 8"
[nzAccept]="'image/png,image/jpeg,image/gif,image/jpg'"
nzFileType="image/png,image/jpeg,image/gif,image/jpg"
[(ngModel)]="inputValue"
(nzChange)="onUploadChange($event)"
(ngModelChange)="onModelChange()"
>
<button nzBlock="true" nz-button nzSize="large">
    <i nz-icon nzType="upload" nzTheme="outline"></i>
    Загрузите изображение
</button>
<p><small>Максимальный размер фото 5mb.</small>
</p></nz-upload>
<!-- <nz-upload 
[nzAction]="actionUrl"
[nzHeaders]="headers"
[nzTransformFile]="transformFile"
[nzBeforeUpload]="beforeUpload"
[nzRemove]="onDelete"
[nzShowUploadList]="imageService.showUploadList"
[nzFileList]="imageList"
[nzShowButton]="imageList.length < 8"
[nzAccept]="'image/png,image/jpeg,image/gif,image/jpg'"
nzFileType="image/png,image/jpeg,image/gif,image/jpg"
(nzChange)="onUploadChange($event)"
[nzListType]="'picture'"
(nzBlur)="onTouched()"
[(ngModel)]="inputValue"
>
<button nzBlock="true" nz-button nzSize="large">
    <i nz-icon nzType="upload" nzTheme="outline"></i>
    Загрузите изображение
</button>
<p><small>Максимальный размер фото 5mb.</small>
</p>
</nz-upload> -->