// nz-content {
//     padding: 0 50px;
//   }
  .inner-content {
    padding: 0 24px;
    min-height: 280px;
  }
.outer-content {
  padding: 50px 50px;
}
.inner-layout {
  padding: 24px 0;
  background: #fff;
}
[nz-carousel-content] {
  text-align: center;
  height: 350px;
  line-height: 350px;
  color: #fff;
  overflow: hidden;
}