<nz-layout>
    <nz-content class="outer-content">
        <nz-layout class="inner-layout">
            <nz-content class="inner-content" nz-row [nzGutter]="24" nzType="flex" nzJustify="center">
                <div nz-col  [nzXs]="{ span : 24}" [nzSm]="{ span : 24}" [nzMd]="{ span: 22 }" [nzLg]="{ span : 16 }" [nzXl]="{ span : 12 }">
                    <nz-carousel [nzEffect]="'scrollx'"
                    [nzDotPosition]="'top'"
                     style="height: 350px;">
                        <div nz-carousel-content *ngFor="let image of flat.files">
                            <div >
                                <img src="{{ image?.linkProps.download }}" style="height:350px;">
                            </div>
                        </div>
                      </nz-carousel>
                      <nz-button-group [nzSize]="'large'" style="width: 100%; line-height: 5rem;">
                        <button nz-button nzType="link" (click)="pre()" style="width: 50%;">
                            <i nz-icon nzType="left"></i>
                        </button>
                        <button nz-button nzType="link" (click)="next()" style="width: 50%;">
                            <i nz-icon nzType="right"></i>
                        </button>
                      </nz-button-group>
                </div>
                <div nz-col [nzXs]="{ span : 24 }" [nzSm]="{ span : 24 }" [nzMd]="{ span : 24 }" [nzLg]="{ span : 24 }" [nzXl]="{ span : 12 }">
                    <nz-page-header>
                        <nz-page-header-title>{{ flat | address : 'full' }}</nz-page-header-title>
                        <nz-page-header-subtitle>{{ flat.created | date : 'shortDate' : '' : 'ru'}}</nz-page-header-subtitle>
                        <nz-page-header-content>
                              <nz-descriptions [nzColumn]="3">
                                <nz-descriptions-item [nzSpan]="1" nzTitle="Тип аренды">{{ flat.duration | duration }}</nz-descriptions-item>
                                <nz-descriptions-item [nzSpan]="1" nzTitle="Кол-во комнат">{{ flat.rooms }}</nz-descriptions-item>
                                <nz-descriptions-item [nzSpan]="1" nzTitle="Город">{{ flat.city | city }}</nz-descriptions-item>
                                <nz-descriptions-item [nzSpan]="1" nzTitle="Этаж">{{ flat.floor }}</nz-descriptions-item>
                                <nz-descriptions-item [nzSpan]="1" nzTitle="Этажей в доме">{{ flat.allFloor }}</nz-descriptions-item>
                              </nz-descriptions>
                        </nz-page-header-content>
                        <nz-page-header-footer>
                            <nz-row nzJustify="start" >
                                <div nz-col nzSpan="12">
                                    <nz-statistic nzTitle="Цена" [nzValue]="flat.price" nzPrefix="$"></nz-statistic>
                                </div>
                                <div nz-col nzSpan="12" style=" height: 100%;">
                                    
                                    <nz-statistic *ngIf="isShowContacts" nzTitle="Телефон" [nzValue]="flat.phoneNumberPrefix + flat.phoneNumber"></nz-statistic>
                                    <nz-statistic *ngIf="!isShowContacts"  [nzValueTemplate]="contactsButtonTpl"></nz-statistic>
                                    <ng-template #contactsButtonTpl> 
                                        <button nz-button nzSize="large" nzBlock="true" nzType="default" (click)="onShowContacts()" >
                                        <i nz-icon nzType="contacts" nzTheme="outline"></i>Телефон
                                        </button>
                                    </ng-template>
                                </div>
                            </nz-row>
                        </nz-page-header-footer>
                      </nz-page-header>
                
                <nz-descriptions [nzTitle]="flatDetailComfortTitle" [nzColumn]="3" [nzColon]="false">
                    <ng-template #flatDetailComfortTitle>
                        <nz-divider [nzText]="detailComfortTitle">
                            <ng-template #detailComfortTitle>
                                Удобства
                            </ng-template>
                        </nz-divider>
                    </ng-template>
                        <nz-descriptions-item [nzSpan]="1">
                            <nz-badge nzDot [nzShowDot]="false"><ng-container *ngIf="flat.furniture; then existFurniture; else notExistFurniture"></ng-container>
                            <ng-template #existFurniture>
                                <i nz-icon nzType="check" nzTheme="outline"></i>
                            </ng-template>
                            <ng-template #notExistFurniture>
                                <i nz-icon nzType="stop" nzTheme="outline"></i>
                            </ng-template>
                            Мебель</nz-badge>
                        </nz-descriptions-item>
                        <nz-descriptions-item [nzSpan]="1">
                            <nz-badge nzDot [nzShowDot]="false"><ng-container *ngIf="flat.refrigerator; then existRefrigerator; else notExistRefrigerator"></ng-container>
                            <ng-template #existRefrigerator>
                                <i nz-icon nzType="check" nzTheme="outline"></i>
                            </ng-template>
                            <ng-template #notExistRefrigerator>
                                <i nz-icon nzType="stop" nzTheme="outline"></i>
                            </ng-template>
                            Холодильник</nz-badge>
                        </nz-descriptions-item>
                        <nz-descriptions-item [nzSpan]="1">
                            <nz-badge nzDot [nzShowDot]="false"><ng-container *ngIf="flat.microwaveOven; then existMicrowaveOven; else notExistMicrowaveOven"></ng-container>
                            <ng-template #existMicrowaveOven>
                                <i nz-icon nzType="check" nzTheme="outline"></i>
                            </ng-template>
                            <ng-template #notExistMicrowaveOven>
                                <i nz-icon nzType="stop" nzTheme="outline"></i>
                            </ng-template>
                            Микроволновая печь</nz-badge>
                        </nz-descriptions-item>
                        <nz-descriptions-item [nzSpan]="1">
                            <nz-badge nzDot [nzShowDot]="false"><ng-container *ngIf="flat.internet; then existInternet; else notExistInternet"></ng-container>
                            <ng-template #existInternet>
                                <i nz-icon nzType="check" nzTheme="outline"></i>
                            </ng-template>
                            <ng-template #notExistInternet>
                                <i nz-icon nzType="stop" nzTheme="outline"></i>
                            </ng-template>
                            Интернет</nz-badge>
                        </nz-descriptions-item>
                        <nz-descriptions-item [nzSpan]="1">
                            <nz-badge nzDot [nzShowDot]="false"><ng-container *ngIf="flat.washingMachine; then existWashingMachine; else notExistWashingMachine"></ng-container>
                            <ng-template #existWashingMachine>
                                <i nz-icon nzType="check" nzTheme="outline"></i>
                            </ng-template>
                            <ng-template #notExistWashingMachine>
                                <i nz-icon nzType="stop" nzTheme="outline"></i>
                            </ng-template>
                            Стиральная машина</nz-badge>
                        </nz-descriptions-item>
                    </nz-descriptions>
                <nz-descriptions [nzTitle]="description" [nzColumn]="3" nzColon="false">
                    <ng-template #description>
                        <nz-divider [nzText]="descriptionTitle">
                            <ng-template #descriptionTitle>
                                Описание
                            </ng-template>
                        </nz-divider>
                    </ng-template>
                    <nz-descriptions-item [nzSpan]="3">{{ flat.description }}</nz-descriptions-item>
                </nz-descriptions>
                </div>
            </nz-content>
        </nz-layout>
    </nz-content>

</nz-layout>