<ul nz-menu nzMode="horizontal" >
    <li nz-menu-item nzSelected>
        <a [routerLink]="[ '/' ]" routerLinkActive="active">
            <i nz-icon nzType="home" nzTheme="outline"></i>
            halupa.by
        </a>
    </li>
    <li  style="float: right;">
        <a *ngIf="!isLogedIn" [routerLink]="[ '/login' ]" routerLinkActive="active" style="margin-right: 8px;">
            <i nz-icon nzType="login" nzTheme="outline"></i>    
            Войти
        </a>
        <a *ngIf="isLogedIn"
        (click)="logOut()"
        style="margin-right: 8px;">
            <i nz-icon nzType="logout" nzTheme="outline"></i>    
            Выйти
        </a>
        <ng-container *ngIf="isLogedIn; then isLogedInButton else isNotLogedInButton"></ng-container>
        <ng-template #isLogedInButton>
            <button  nz-button nzType="dashed" nzSize="large" nzShape="round" (click)="showAddAdvertModal()">
                <i nz-icon nzType="plus-circle"></i>
                Добавить объявление
            </button>
        </ng-template>
        <ng-template #isNotLogedInButton>
            <button *ngIf="!isLogedIn" nz-button 
            nzType="primary" nzSize="large" nzShape="round" (click)="registerThenAddAdvert()">
                <i nz-icon nzType="plus-circle"></i>
                Добавить объявление
            </button>
        </ng-template>


    </li>
</ul>