<ul *ngIf="navService.visible" nz-menu nzMode="horizontal" >
    <li nz-menu-item nzSelected="true" >
        <a [routerLink]="[ '/' ]" routerLinkActive="active">
            <i nz-icon nzType="home" nzTheme="outline"></i>
            halupa.by
        </a>
    </li>
    <li nz-menu-item >
        <a [routerLink]="[ '/flats' ]" >
            Квартиры
        </a>
    </li>
    <li nz-menu-item >
        <ng-container *ngIf="authService.isLogedIn(); then isLogedInButton else isNotLogedInButton"></ng-container>
        <ng-template #isLogedInButton>
            <button  nz-button nzType="dashed" nzSize="large" nzShape="round" (click)="showAddAdvertModal()">
                <i nz-icon nzType="plus-circle"></i>
                Добавить объявление
            </button>
        </ng-template>
        <ng-template #isNotLogedInButton>
            <button nz-button 
            nzType="primary" nzSize="large" nzShape="round" (click)="registerThenAddAdvert()">
                <i nz-icon nzType="plus-circle"></i>
                Добавить объявление
            </button>
        </ng-template>
    </li>
    <li nz-menu-item >
    

        <ng-container *ngIf="authService.isLogedIn(); then cabinet else enter"></ng-container>
        <ng-template #enter>
            <a [routerLink]="[ '/login' ]" style="margin-right: 8px;">
                <i nz-icon nzType="login" nzTheme="outline"></i>    
                Войти
            </a>
        </ng-template>
        <ng-template #cabinet>
            <a (click)="openProfileDrawer()"
            style="margin-right: 8px;">
                <i nz-icon nzType="user" nzTheme="outline"></i>    
                Кабинет
            </a>
        </ng-template>
    </li>
</ul>
