<ul nz-menu nzMode="horizontal" >
    <li nz-menu-item nzSelected>
        <a [routerLink]="[ '/' ]" routerLinkActive="active">
            <i nz-icon nzType="user-add" nzTheme="outline"></i>
            Все квартиры
        </a>
    </li>
    <li  style="float: right;">
        <a *ngIf="!authService.isLogedIn()" [routerLink]="[ '/login' ]" routerLinkActive="active" style="margin-right: 8px;">
            <i nz-icon nzType="login" nzTheme="outline"></i>    
            Войти
        </a>
        <a *ngIf="authService.isLogedIn()"
        (click)="logOut()"
        style="margin-right: 8px;">
            <i nz-icon nzType="logout" nzTheme="outline"></i>    
            Выйти
        </a>
        <button nz-button nzType="dashed" nzSize="large" nzShape="round" (click)="showAddAdvertModal()">
            <i nz-icon nzType="plus-circle"></i>
            Добавить объявление
        </button>
    </li>
</ul>