<form nz-form *ngIf="form" [formGroup]="form"  [nzLayout]="'vertical'" nzJustify="space-between" nz-row >
  
  <nz-form-item nz-col
    [nzXs]="{ span : 11 }"
    [nzSm]="{ span : 11 }"
    [nzMd]="{ span : 11 }"
    [nzLg]="{ span : 11 }"
    [nzXl]="{ span : 11 }">
        <nz-form-label nzRequired="true" nzFor="phone" >Телефон</nz-form-label>
        <nz-form-control  nzHasFeedback  nzErrorTip="Укажите телефон!">
            <input nz-input placeholder="80291234567"
            nzSize="large"
            formControlName="phone"
            type="tel">
        </nz-form-control>
    </nz-form-item><nz-divider [nzText]="descriptionTpl">
    <ng-template #descriptionTpl>
      Описание
    </ng-template>
  </nz-divider>
  <nz-form-item nz-col
                [nzXs]="{ span : 24 }"
                [nzSm]="{ span : 24 }"
                [nzMd]="{ span : 24 }"
                [nzLg]="{ span : 24 }"
                [nzXl]="{ span : 24 }">
    <nz-form-control nzHasFeedback [nzErrorTip]="descriptionErrorTpl">
      <app-description-input formControlName='description'></app-description-input>
      <ng-template #descriptionErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Добавьте описание!
        </ng-container>
        <ng-container *ngIf="control.hasError('notOnlySpace')">
          Описание не должно быть пустым!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>
