<div nz-row nzJustify="center" *ngIf="!isLoading" nzGutter="24">
    <div nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 18 }"
    [nzMd]="{ span : 14 }"
    [nzLg]="{ span : 10 }"
    [nzXl]="{ span : 8 }">
        <app-slider *ngIf="images" [images]="images"></app-slider>
    </div>
    <div nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 24 }"
    [nzMd]="{ span : 24 }"
    [nzLg]="{ span : 14 }"
    [nzXl]="{ span : 16 }">
        <nz-descriptions  [nzTitle]='mainInfoTpl'>
            <ng-template #mainInfoTpl>
                <nz-divider nzText="Основная информация"></nz-divider>
            </ng-template>
            <nz-descriptions-item nzTitle="Адрес" nzSpan="3" >{{advert.address.geoObject.metaDataProperty.geocoderMetaData.address.formatted}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Дата создания" >{{ advert.created | date : 'shortDate' : '' : 'ru' }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Цена" >{{advert.price | currency}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Тип аренды">{{ advert.duration | duration }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Кол-во комнат">{{ advert.rooms }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Описание">{{advert.description}}</nz-descriptions-item>
        </nz-descriptions>
        <nz-descriptions  nzColon="false" [nzTitle]='additionalInfoTpl'>
            <ng-template #additionalInfoTpl>
                <nz-divider nzText="Дополнительная информация"></nz-divider>
            </ng-template>
            <nz-descriptions-item >
                <i nz-icon [nzType]="advert.furniture ? 'check':'stop'" nzTheme="outline"></i>
                Мебель
            </nz-descriptions-item>
            <nz-descriptions-item  >
                <i nz-icon [nzType]="advert.refrigerator ? 'check':'stop'" nzTheme="outline"></i>
                Холодильник
            </nz-descriptions-item>
            <nz-descriptions-item >
                <i nz-icon [nzType]="advert.microwaveOven ? 'check':'stop'" nzTheme="outline"></i>
                Микроволновая печь
            </nz-descriptions-item>
            <nz-descriptions-item >
                <i nz-icon [nzType]="advert.internet ? 'check':'stop'" nzTheme="outline"></i>
                Интернет
            </nz-descriptions-item>
            <nz-descriptions-item >
                <i nz-icon [nzType]="advert.washingMachine ? 'check':'stop'" nzTheme="outline"></i>
                Стиральная машина
            </nz-descriptions-item>
            <nz-descriptions-item >
                <i nz-icon [nzType]="advert.bathhouse ? 'check':'stop'" nzTheme="outline"></i>
                Баня
            </nz-descriptions-item>
            <nz-descriptions-item >
                <i nz-icon [nzType]="advert.garage ? 'check':'stop'" nzTheme="outline"></i>
                Гараж
            </nz-descriptions-item>
        </nz-descriptions>
        <nz-descriptions nzColon="false" [nzTitle]='contactsTpl'><ng-template #contactsTpl><nz-divider nzText="Контакты"></nz-divider></ng-template>
            <nz-descriptions-item ><i nz-icon nzType="phone" nzTheme="outline"></i> {{advert.phone}}</nz-descriptions-item>
        </nz-descriptions>
    </div>
  <div nz-col
       [nzXs]="{ span : 24 }"
       [nzSm]="{ span : 24 }"
       [nzMd]="{ span : 24 }"
       [nzLg]="{ span : 24 }"
       [nzXl]="{ span : 24 }" *ngIf="advert">
    <app-yandex-map [advert]="advert" ></app-yandex-map>
  </div>
</div>
