<form
nz-form 
[formGroup]="houseSaleForm" 
nzLayout="vertical"
id="modal-form"
>
    <input nz-input type="hidden" formControlName="userId">
    <nz-upload 
    nzAction="{{uploadUrl}}"
    [nzHeaders]="headers"
    nzListType="picture-card"
    [nzBeforeUpload]="compressor.beforeUpload"
    [nzRemove]="onDelete"
    [nzShowUploadList]="showUploadList"
    [(nzFileList)]="fileList"
    [nzShowButton]="fileList.length < 5"
    [nzAccept]="'image/png,image/jpeg,image/gif,image/jpg'"
    nzFileType="image/png,image/jpeg,image/gif,image/jpg"
    (nzChange)="onChange($event)"
    ><!--nzSize 5mb-->
    <p class="ant-upload-drag-icon">
        <i nz-icon nzType="upload"></i>       
    </p>
    <p class="ant-upload-text">Загрузите изображение<br/><small>Максимальный размер фото 5mb.</small></p>
    </nz-upload>
    <input nz-input type="hidden" formControlName="files">
    <nz-divider [nzText]="cityStreet">
        <ng-template #cityStreet>
            Город, улица
        </ng-template>
    </nz-divider>
    <div nz-row [nzGutter]="16">
        <div 
        nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 24 }" 
        [nzMd]="{ span : 24 }" 
        [nzLg]="{ span : 24 }" 
        [nzXl]="{ span : 24 }">
            <nz-form-item >
                <nz-form-label nzRequired nzFor="address">Укажите адрес</nz-form-label>
                <nz-form-control 
                nzHasFeedback
                nzErrorTip="укажите адрес!">
                    <input 
                    (change)="selectSuggestView(suggestYandex.value)"
                    nz-input 
                    [nzSize]="'large'" 
                    id="suggest" 
                    [(ngModel)]="address" 
                    formControlName="address" 
                    #suggestYandex
                    placeholder="Например: Несвиж, Лермонтова 2" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <nz-divider [nzText]="house">
        <ng-template #house>
            Дом
        </ng-template>
    </nz-divider>
    <div nz-row [nzGutter]="16" >
        <div 
        nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 12 }" 
        [nzMd]="{ span : 12 }" 
        [nzLg]="{ span : 12 }" 
        [nzXl]="{ span : 12 }">
            <nz-form-item >
                <nz-form-label nzRequired nzFor="rooms">Комнат</nz-form-label>
                <nz-form-control
                nzHasFeedback
                nzErrorTip="Сколько комнат в доме?">
                        <nz-input-number style="width: 100%;"
                        [(ngModel)]="rooms"
                        [nzSize]="'large'"
                        formControlName="rooms"
                        nzPlaceHolder="Кол-во"
                        [nzMin]="1"
                        [nzMax]="100"
                        [nzStep]="1"
                        [nzId]="rooms"
                        ></nz-input-number>
                    </nz-form-control>
            </nz-form-item>
        </div>
        <div 
        nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 12 }" 
        [nzMd]="{ span : 12 }" 
        [nzLg]="{ span : 12 }" 
        [nzXl]="{ span : 12 }">
            <p>материал стен добавить</p>
        </div>
        
    </div>
    <nz-divider [nzText]="areaInfo">
        <ng-template #areaInfo>
            Площадь
        </ng-template>
    </nz-divider>
    <div nz-row [nzGutter]="16">
        <div 
        nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 12 }" 
        [nzMd]="{ span : 12 }" 
        [nzLg]="{ span : 12 }" 
        [nzXl]="{ span : 12 }">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="houseArea">Общая площадь, кв.м</nz-form-label>
                <nz-form-control 
                nzHasFeedback 
                nzErrorTip="Укажите общую площадь!">
                    <nz-input-number style="width: 100%;"
                    [(ngModel)]="houseArea"
                    [nzSize]="'large'"
                    formControlName="houseArea"
                    [nzPlaceHolder]="100"
                    [nzMin]="10"
                    [nzMax]="10000"
                    [nzStep]="1"
                    [nzId]="houseArea"
                    ></nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div 
        nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 12 }" 
        [nzMd]="{ span : 12 }" 
        [nzLg]="{ span : 12 }" 
        [nzXl]="{ span : 12 }">
        <nz-form-item>
            <nz-form-label nzRequired nzFor="houseLiveArea">Жилая площадь, кв.м</nz-form-label>
            <nz-form-control 
            nzHasFeedback 
            nzErrorTip="Укажите жилую площадь!">
                <nz-input-number style="width: 100%;"
                [(ngModel)]="houseLiveArea"
                [nzSize]="'large'"
                formControlName="houseLiveArea"
                [nzPlaceHolder]="100"
                [nzMin]="10"
                [nzMax]="10000"
                [nzStep]="1"
                [nzId]="houseLiveArea"
                ></nz-input-number>
            </nz-form-control>
        </nz-form-item>
        </div>
    </div>
    <div nz-row [nzGutter]="16">
        <div 
        nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 12 }" 
        [nzMd]="{ span : 12 }" 
        [nzLg]="{ span : 12 }" 
        [nzXl]="{ span : 12 }">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="kitchenArea">Площадь кухни, кв.м</nz-form-label>
                <nz-form-control 
                nzHasFeedback 
                nzErrorTip="Укажите общую площадь!">
                    <nz-input-number style="width: 100%;"
                    [(ngModel)]="kitchenArea"
                    [nzSize]="'large'"
                    formControlName="kitchenArea"
                    [nzPlaceHolder]="100"
                    [nzMin]="10"
                    [nzMax]="10000"
                    [nzStep]="1"
                    [nzId]="kitchenArea"
                    ></nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div 
        nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 12 }" 
        [nzMd]="{ span : 12 }" 
        [nzLg]="{ span : 12 }" 
        [nzXl]="{ span : 12 }">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="housePlot">Площадь участка, сот.</nz-form-label>
                <nz-form-control 
                nzHasFeedback 
                nzErrorTip="Укажите общую площадь!">
                    <nz-input-number style="width: 100%;"
                    [(ngModel)]="housePlot"
                    [nzSize]="'large'"
                    formControlName="housePlot"
                    [nzPlaceHolder]="100"
                    [nzMin]="10"
                    [nzMax]="10000"
                    [nzStep]="1"
                    [nzId]="housePlot"
                    ></nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <nz-divider [nzText]="comfort">
        <ng-template #comfort>
            Удобства
        </ng-template>
    </nz-divider>
    <div nz-row [nzGutter]="16">
        <div 
        nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 12 }" 
        [nzMd]="{ span : 12 }" 
        [nzLg]="{ span : 12 }" 
        [nzXl]="{ span : 12 }">
            <nz-form-item>
                <nz-form-control>
                  <label nz-checkbox formControlName="heating">Отопление</label>
                </nz-form-control>
              </nz-form-item>
        </div>
        <div 
        nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 12 }" 
        [nzMd]="{ span : 12 }" 
        [nzLg]="{ span : 12 }" 
        [nzXl]="{ span : 12 }">
            <nz-form-item>
                <nz-form-control>
                  <label nz-checkbox formControlName="water">Вода</label>
                </nz-form-control>
              </nz-form-item>
        </div><div 
        nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 12 }" 
        [nzMd]="{ span : 12 }" 
        [nzLg]="{ span : 12 }" 
        [nzXl]="{ span : 12 }">
            <nz-form-item>
                <nz-form-control>
                  <label nz-checkbox formControlName="gas">Газ</label>
                </nz-form-control>
              </nz-form-item>
        </div>
        <div 
        nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 12 }" 
        [nzMd]="{ span : 12 }" 
        [nzLg]="{ span : 12 }" 
        [nzXl]="{ span : 12 }">
            <nz-form-item>
                <nz-form-control>
                  <label nz-checkbox formControlName="sewage">Канализация</label>
                </nz-form-control>
              </nz-form-item>
        </div>
        <div 
        nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 12 }" 
        [nzMd]="{ span : 12 }" 
        [nzLg]="{ span : 12 }" 
        [nzXl]="{ span : 12 }">
            <nz-form-item>
                <nz-form-control>
                  <label nz-checkbox formControlName="electricity">Электричество</label>
                </nz-form-control>
              </nz-form-item>
        </div>
        <div 
        nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 12 }" 
        [nzMd]="{ span : 12 }" 
        [nzLg]="{ span : 12 }" 
        [nzXl]="{ span : 12 }">
            <nz-form-item>
                <nz-form-control>
                  <label nz-checkbox formControlName="bathhouse">Баня</label>
                </nz-form-control>
              </nz-form-item>
        </div>
        <div 
        nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 12 }" 
        [nzMd]="{ span : 12 }" 
        [nzLg]="{ span : 12 }" 
        [nzXl]="{ span : 12 }">
            <nz-form-item>
                <nz-form-control>
                <label nz-checkbox formControlName="garage">Гараж</label>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <nz-divider [nzText]="priceSector">
        <ng-template #priceSector>
            Стоимость
        </ng-template>
    </nz-divider>
    <div nz-row [nzGutter]="16">
        <div 
        nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 12 }" 
        [nzMd]="{ span : 12 }" 
        [nzLg]="{ span : 12 }" 
        [nzXl]="{ span : 12 }">
            <nz-form-item>
                <nz-form-label  nzRequired nzFor="price">Цена</nz-form-label>
                <nz-form-control 
                nzHasFeedback 
                nzErrorTip="Укажите цену!">
                    <nz-input-number style="width: 100%;"
                    [(ngModel)]="price"
                    [nzSize]="'large'"
                    formControlName="price"
                    [nzPlaceHolder]="100"
                    [nzMin]="10"
                    [nzMax]="10000000"
                    [nzStep]="10"
                    [nzFormatter]="formatterDollar"
                    [nzParser]="parserDollar"
                    [nzId]="price"
                    ></nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <nz-divider [nzText]="contacts">
        <ng-template #contacts>
            Контакты
        </ng-template>
    </nz-divider>
    <div nz-row [nzGutter]="16">
        <div 
        nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 12 }" 
        [nzMd]="{ span : 12 }" 
        [nzLg]="{ span : 12 }" 
        [nzXl]="{ span : 12 }">
            <nz-form-item >
                <nz-form-label  nzRequired nzFor="phoneNumber">Телефон</nz-form-label>
                <nz-form-control             
                nzHasFeedback>
                <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" nzSize="large">
                    <ng-template #addOnBeforeTemplate>
                      <nz-select 
                      [(ngModel)]="selectedPhoneNumberPrefix"
                      formControlName="phoneNumberPrefix" 
                      nzSize="large" 
                      >
                        <nz-option
                        *ngFor="let phoneNumberPrefix of listOfPhoneNumberPrefix"
                        [nzLabel]="phoneNumberPrefix.text"
                        [nzValue]="phoneNumberPrefix.value"
                        >
                        </nz-option>
                      </nz-select>
                    </ng-template>
                    <input nzSize="large"
                    [(ngModel)]="phoneNumber"
                    formControlName="phoneNumber" 
                    id="'phoneNumber'" 
                    placeholder="(29)1234567"
                    nz-input type="tel" maxlength="9"/>
                  </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
        <nz-form-item >
        <nz-form-label nzRequired nzFor="description">Описание</nz-form-label>
            <nz-form-control
            nzHasFeedback 
            [nzErrorTip]="descriptionErrorTpl">
                    <textarea 
                    [nzSize]="'large'"
                    formControlName="description"
                    placeholder="Ваш комментарий"
                    [nzAutosize]="{ minRows: 4, maxRows: 6 }" 
                    nz-input></textarea>
                <ng-template #descriptionErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Добавьте комментарий!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('notOnlySpace')">
                        Комментарий не должен быть пустым!
                    </ng-container>
                </ng-template>
            </nz-form-control>        
        </nz-form-item>
</form>
<p>{{ houseSaleForm.value | json }}</p>