<form nz-form [formGroup]="form"  [nzLayout]="'vertical'" nzJustify="space-between" nz-row >
    <nz-form-item nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 24 }"
    [nzMd]="{ span : 24 }"
    [nzLg]="{ span : 24 }"
    [nzXl]="{ span : 24 }">
        <nz-form-control >
            <nz-upload
            nzAction="{{imageService.uploadUrl}}"
            [nzHeaders]="imageService.headers"
            [nzTransformFile]="imageService.transformFile"
            [nzBeforeUpload]="imageService.beforeUpload"
            [nzRemove]="onDelete"
            [nzShowUploadList]="imageService.showUploadList"
            [nzFileList]="imageList"
            [nzShowButton]="imageList.length < 8"
            [nzAccept]="'image/png,image/jpeg,image/gif,image/jpg'"
            nzFileType="image/png,image/jpeg,image/gif,image/jpg"
            (nzChange)="onUploadChange($event)"
            [nzListType]="'picture'"
            ><!--nzSize 5mb-->
            <button nzBlock="true" nz-button nzSize="large">
                <i nz-icon nzType="upload" nzTheme="outline"></i>
                Загрузите изображение
            </button>
            <p><small>Максимальный размер фото 5mb.</small>
            </p>
            </nz-upload>
        </nz-form-control>
    </nz-form-item>
  <nz-divider [nzText]="addressTpl">
    <ng-template #addressTpl>
      Адрес
    </ng-template>
  </nz-divider>
  <nz-form-item nz-col
                [nzXs]="{ span : 24 }"
                [nzSm]="{ span : 24 }"
                [nzMd]="{ span : 24 }"
                [nzLg]="{ span : 24 }"
                [nzXl]="{ span : 24 }">
    <nz-form-label nzRequired nzFor="address">Укажите адрес</nz-form-label>
    <nz-form-control nzHasFeedback nzErrorTip="Укажите адрес!" >
      <app-address-input formControlName="address"></app-address-input>
    </nz-form-control>
    <p><small>Начинайте вводить и выберите адрес из подсказок</small></p>
  </nz-form-item>
    <nz-divider [nzText]="houseTPL">
        <ng-template #houseTPL>
            Дом
        </ng-template>
    </nz-divider>
    <nz-form-item nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 11 }"
    [nzMd]="{ span : 11 }"
    [nzLg]="{ span : 11 }"
    [nzXl]="{ span : 11 }">
        <nz-form-label nzRequired="true" nzFor="floor" >Этаж</nz-form-label>
        <nz-form-control  nzHasFeedback  nzErrorTip="Укажите этаж!">
            <nz-input-number
            nzSize="large"
            formControlName="floor"
            [nzPlaceHolder]="3"
            [nzMin]="1"
            [nzMax]="1000"
            [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 11 }"
    [nzMd]="{ span : 11 }"
    [nzLg]="{ span : 11 }"
    [nzXl]="{ span : 11 }">
        <nz-form-label nzRequired="true" nzFor="allFloor" >Этажей всего</nz-form-label>
        <nz-form-control  nzHasFeedback  nzErrorTip="Сколько всего этажей!">
            <nz-input-number
            nzSize="large"
            formControlName="allFloor"
            [nzPlaceHolder]="3"
            [nzMin]="1"
            [nzMax]="1000"
            [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-divider [nzText]="flatTPL">
        <ng-template #flatTPL>
            Квартира
        </ng-template>
    </nz-divider>
    <nz-form-item nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 11 }"
    [nzMd]="{ span : 11 }"
    [nzLg]="{ span : 11 }"
    [nzXl]="{ span : 11 }">
        <nz-form-label nzRequired="true" nzFor="rooms" >Кол-во комнат</nz-form-label>
        <nz-form-control  nzHasFeedback  nzErrorTip="Сколько комнат!">
            <nz-input-number
            nzSize="large"
            formControlName="rooms"
            [nzPlaceHolder]="2"
            [nzMin]="1"
            [nzMax]="1000"
            [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 11 }"
    [nzMd]="{ span : 11 }"
    [nzLg]="{ span : 11 }"
    [nzXl]="{ span : 11 }">
        <nz-form-label nzRequired="true" nzFor="flatArea" >Общая площадь, кв.м</nz-form-label>
        <nz-form-control  nzHasFeedback  nzErrorTip="Укажите общую площадь!">
            <nz-input-number
            nzSize="large"
            formControlName="flatArea"
            [nzPlaceHolder]="40"
            [nzMin]="1"
            [nzMax]="1000"
            [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 11 }"
    [nzMd]="{ span : 11 }"
    [nzLg]="{ span : 11 }"
    [nzXl]="{ span : 11 }">
        <nz-form-label nzRequired="true" nzFor="flatLiveArea" >Жилая площадь, кв.м</nz-form-label>
        <nz-form-control  nzHasFeedback  nzErrorTip="Укажите жилую площадь!">
            <nz-input-number
            nzSize="large"
            formControlName="flatLiveArea"
            [nzPlaceHolder]="40"
            [nzMin]="1"
            [nzMax]="1000"
            [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 11 }"
    [nzMd]="{ span : 11 }"
    [nzLg]="{ span : 11 }"
    [nzXl]="{ span : 11 }">
        <nz-form-label nzRequired="true" nzFor="kitchenArea" >Площадь кухни, кв.м</nz-form-label>
        <nz-form-control  nzHasFeedback  nzErrorTip="Укажите площадь кухни!">
            <nz-input-number
            nzSize="large"
            formControlName="kitchenArea"
            [nzPlaceHolder]="15"
            [nzMin]="1"
            [nzMax]="1000"
            [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 11 }"
    [nzMd]="{ span : 11 }"
    [nzLg]="{ span : 11 }"
    [nzXl]="{ span : 11 }">
        <nz-form-label nzRequired nzFor="balcony">Балкон</nz-form-label>
        <nz-form-control
        nzHasFeedback
        nzErrorTip="Балкон есть?">
            <nz-select
            formControlName="balcony"
            [nzSize]="'large'">
            <nz-option
                *ngFor="let balcony of listOfBalcony"
                [nzLabel]="balcony.label"
                [nzValue]="balcony.value"
                >
            </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 11 }"
    [nzMd]="{ span : 11 }"
    [nzLg]="{ span : 11 }"
    [nzXl]="{ span : 11 }">
        <nz-form-label nzRequired nzFor="toilet">Санузел</nz-form-label>
        <nz-form-control
        nzHasFeedback
        nzErrorTip="Санузел есть?">
            <nz-select
            formControlName="toilet"
            [nzSize]="'large'">
            <nz-option
                *ngFor="let toilet of listOfToilet"
                [nzLabel]="toilet.label"
                [nzValue]="toilet.value"
                >
            </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-divider [nzText]="priceSector">
        <ng-template #priceSector>
            Стоимость
        </ng-template>
    </nz-divider>
    <nz-form-item nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 24 }"
    [nzMd]="{ span : 24 }"
    [nzLg]="{ span : 24 }"
    [nzXl]="{ span : 24 }">
        <nz-form-label nzRequired="true" nzFor="price" >Цена</nz-form-label>
        <nz-form-control  nzHasFeedback  nzErrorTip="Укажите цену!">
            <app-price-input formControlName='price'></app-price-input>
        </nz-form-control>
    </nz-form-item>
    <nz-divider [nzText]="contactsTpl">
        <ng-template #contactsTpl>
            Контакты
        </ng-template>
    </nz-divider>
    <nz-form-item nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 11 }"
    [nzMd]="{ span : 11 }"
    [nzLg]="{ span : 11 }"
    [nzXl]="{ span : 11 }">
        <nz-form-label nzRequired="true" nzFor="phone" >Телефон</nz-form-label>
        <nz-form-control  nzHasFeedback  nzErrorTip="Укажите телефон!">
            <input nz-input placeholder="80291234567"
            nzSize="large"
            formControlName="phone"
            type="tel">
        </nz-form-control>
    </nz-form-item>
    <nz-divider [nzText]="descriptionTpl">
        <ng-template #descriptionTpl>
            Описание
        </ng-template>
    </nz-divider>
    <nz-form-item nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 24 }"
    [nzMd]="{ span : 24 }"
    [nzLg]="{ span : 24 }"
    [nzXl]="{ span : 24 }">
        <nz-form-control nzHasFeedback [nzErrorTip]="descriptionErrorTpl">
          <app-description-input formControlName='description'></app-description-input>
            <ng-template #descriptionErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    Добавьте описание!
                </ng-container>
                <ng-container *ngIf="control.hasError('notOnlySpace')">
                    Описание не должно быть пустым!
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 24 }"
    [nzMd]="{ span : 24 }"
    [nzLg]="{ span : 24 }"
    [nzXl]="{ span : 24 }">
        <app-checkout formControlName='checkout'></app-checkout>
    </nz-form-item>
    <nz-form-item nz-col
    [nzXs]="{ span : 24 }"
    [nzSm]="{ span : 24 }"
    [nzMd]="{ span : 24 }"
    [nzLg]="{ span : 24 }"
    [nzXl]="{ span : 24 }">
        <nz-form-control >
          <button nz-button
          nzType="primary"
          [nzSize]="'large'"
          (click)="submitForm()" [disabled]="!isValid"
          nzBlock="true">
           <i nz-icon nzType="plus" nzTheme="outline"></i>Добавить объявление</button>
        </nz-form-control>
    </nz-form-item>
</form>
