<form nz-form [formGroup]="editForm" nzLayout="vertical" >
    <div nz-row [nzGutter]="16">
        <div nz-col [nzSpan]="12">
            <nz-form-item >
                <nz-form-label  nzRequired nzFor="phoneNumber">Телефон</nz-form-label>
                <nz-form-control             
                nzHasFeedback>
                <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" nzSize="large">
                    <ng-template #addOnBeforeTemplate>
                      <nz-select 
                        [(ngModel)]="flat.phoneNumberPrefix"

                      formControlName="phoneNumberPrefix" 
                      nzSize="large" 
                      >
                        <nz-option
                        [nzLabel]="'+375'"
                        [nzValue]="'+375'"
                        >
                        </nz-option>
                      </nz-select>
                    </ng-template>
                    <input nzSize="large"
                    formControlName="phoneNumber" 
                    id="'phoneNumber'" 
                    placeholder="(29)1234567"
                    nz-input type="tel" maxlength="9"/>
                  </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12" >
            <nz-form-item>
                <nz-form-label nzRequired nzFor="price">Цена</nz-form-label>
                <nz-form-control 
                nzHasFeedback 
                nzErrorTip="Укажите цену!">
                    <nz-input-number style="width: 100%;"
                    [nzSize]="'large'"
                    formControlName="price"
                    [nzPlaceHolder]="100"
                    [nzMin]="10"
                    [nzMax]="10000"
                    [nzStep]="10"
                    [nzFormatter]="formatterDollar"
                    [nzParser]="parserDollar"
                    ></nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    
    <nz-form-item>
        <nz-form-label nzRequired nzFor="description">Описание</nz-form-label>
        <nz-form-control
        nzHasFeedback 
        [nzErrorTip]="descriptionErrorTpl">
                <textarea 
                [nzSize]="'small'"
                formControlName="description"
                placeholder="Ваш комментарий"
                [nzAutosize]="{ minRows: 4, maxRows: 6 }" 
                nz-input></textarea>
            <ng-template #descriptionErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    Добавьте комментарий!
                </ng-container>
                <ng-container *ngIf="control.hasError('notOnlySpace')">
                    Комментарий не должен быть пустым!
                </ng-container>
            </ng-template>
        </nz-form-control>
      </nz-form-item >
</form>
<p>{{ editForm.value | json}}</p>