
    <form nz-form [formGroup]="rentHouseForm" [nzLayout]="'vertical'" nzJustify="space-between" nz-row >
        <nz-form-item nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 24 }" 
        [nzMd]="{ span : 24 }" 
        [nzLg]="{ span : 24 }" 
        [nzXl]="{ span : 24 }">
            <nz-form-control >
                <nz-upload
                nzAction="{{imageService.uploadUrl}}"
                [nzHeaders]="imageService.headers"
                [nzTransformFile]="imageService.transformFile"
                [nzBeforeUpload]="imageService.beforeUpload"
                [nzRemove]="onDelete"
                [nzShowUploadList]="showUploadList"
                [nzFileList]="imageService.imageList"
                [nzShowButton]="imageService.imageList.length < 8"
                [nzAccept]="'image/png,image/jpeg,image/gif,image/jpg'"
                nzFileType="image/png,image/jpeg,image/gif,image/jpg"
                (nzChange)="onUploadChange($event)"
                [nzListType]="'picture'"
                ><!--nzSize 5mb-->
                <button nzBlock="true" nz-button nzSize="large">
                    <i nz-icon nzType="upload" nzTheme="outline"></i> 
                    Загрузите изображение      
                </button>
                <p><small>Максимальный размер фото 5mb.</small>
                </p>
                </nz-upload>
            </nz-form-control>
        </nz-form-item>
        <nz-divider [nzText]="addressTpl">
            <ng-template #addressTpl>
                Адрес
            </ng-template>
        </nz-divider>
        <nz-form-item nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 24 }" 
        [nzMd]="{ span : 24 }" 
        [nzLg]="{ span : 24 }" 
        [nzXl]="{ span : 24 }">
            <nz-form-control  nzHasFeedback  nzErrorTip="Укажите адрес!" >
                <input nz-input #suggest 
                [(ngModel)]="address"
                nzSize="large"  
                placeholder="Несвиж Лермонтова 2"
                formControlName="address"
                (ngModelChange)="suggestService.onSearch($event)"
                [nzAutocomplete]="auto">
                <nz-autocomplete #auto>
                  <nz-auto-option *ngFor="let o of suggestService.suggestions" [nzValue]="o.text" >{{o.text}}</nz-auto-option>
                </nz-autocomplete> 
            </nz-form-control>
            <p><small>Начинайте вводить и выберите адрес из подсказок</small></p>
        </nz-form-item>
        <nz-divider [nzText]="houseTPL">
            <ng-template #houseTPL>
                Дом
            </ng-template>
        </nz-divider>
        <nz-form-item nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 11 }" 
        [nzMd]="{ span : 11 }" 
        [nzLg]="{ span : 11 }" 
        [nzXl]="{ span : 11 }">
            <nz-form-label nzFor="rooms" >Кол-во комнат</nz-form-label>
            <nz-form-control  nzHasFeedback  nzErrorTip="Сколько комнат!">
                <nz-input-number
                nzSize="large"
                formControlName="rooms"
                [(ngModel)]="rooms"
                [nzPlaceHolder]="3"
                [nzMin]="1"
                [nzMax]="10000"
                [nzStep]="1"></nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-divider [nzText]="comfort">
            <ng-template #comfort>
                Удобства
            </ng-template>
        </nz-divider>
        <nz-form-item nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 11 }" 
        [nzMd]="{ span : 11 }" 
        [nzLg]="{ span : 11 }" 
        [nzXl]="{ span : 11 }">
            <nz-form-control>
                <label nz-checkbox formControlName="furniture">Мебель</label>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 11 }" 
        [nzMd]="{ span : 11 }" 
        [nzLg]="{ span : 11 }" 
        [nzXl]="{ span : 11 }">
            <nz-form-control>
                <label nz-checkbox formControlName="refrigerator">Холодильник</label>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 11 }" 
        [nzMd]="{ span : 11 }" 
        [nzLg]="{ span : 11 }" 
        [nzXl]="{ span : 11 }">
            <nz-form-control>
                <label nz-checkbox formControlName="microwaveOven">Микроволновая печь</label>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 11 }" 
        [nzMd]="{ span : 11 }" 
        [nzLg]="{ span : 11 }" 
        [nzXl]="{ span : 11 }">
            <nz-form-control>
                <label nz-checkbox formControlName="internet">Интернет</label>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 11 }" 
        [nzMd]="{ span : 11 }" 
        [nzLg]="{ span : 11 }" 
        [nzXl]="{ span : 11 }">
            <nz-form-control>
                <label nz-checkbox formControlName="washingMachine">Стиральная машина</label>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 11 }" 
        [nzMd]="{ span : 11 }" 
        [nzLg]="{ span : 11 }" 
        [nzXl]="{ span : 11 }">
            <nz-form-control>
                <label nz-checkbox formControlName="bathhouse">Баня/сауна</label>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 11 }" 
        [nzMd]="{ span : 11 }" 
        [nzLg]="{ span : 11 }" 
        [nzXl]="{ span : 11 }">
            <nz-form-control>
                <label nz-checkbox formControlName="garage">Гараж</label>
            </nz-form-control>
        </nz-form-item>
        <nz-divider [nzText]="priceSectorTPL">
            <ng-template #priceSectorTPL>
                Стоимость
            </ng-template>
        </nz-divider>
        <nz-form-item nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 24 }" 
        [nzMd]="{ span : 24 }" 
        [nzLg]="{ span : 24 }" 
        [nzXl]="{ span : 24 }">
            <nz-form-label nzRequired="true" nzFor="price" >Цена</nz-form-label>
            <nz-form-control  nzHasFeedback  nzErrorTip="Укажите цену!">
                <nz-input-number
                nzSize="large"
                formControlName="price"
                [(ngModel)]="price"
                [nzPlaceHolder]="100"
                [nzMin]="1"
                [nzFormatter]="formatterDollar"
                [nzParser]="parserDollar"
                [nzMax]="900000000"
                [nzStep]="1"></nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-divider [nzText]="contactsTpl">
            <ng-template #contactsTpl>
                Контакты
            </ng-template>
        </nz-divider>
        <nz-form-item nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 11 }" 
        [nzMd]="{ span : 11 }" 
        [nzLg]="{ span : 11 }" 
        [nzXl]="{ span : 11 }">
            <nz-form-label nzRequired="true" nzFor="phone" >Телефон</nz-form-label>
            <nz-form-control  nzHasFeedback  nzErrorTip="Укажите телефон!">
                <input nz-input placeholder="80291234567"
                nzSize="large"
                formControlName="phone"
                [(ngModel)]="phone"
                type="tel">
            </nz-form-control>
        </nz-form-item>
        <nz-divider [nzText]="descriptionTpl">
            <ng-template #descriptionTpl>
                Описание
            </ng-template>
        </nz-divider>
        <nz-form-item nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 24 }" 
        [nzMd]="{ span : 24 }" 
        [nzLg]="{ span : 24 }" 
        [nzXl]="{ span : 24 }">
            <nz-form-control nzHasFeedback [nzErrorTip]="descriptionErrorTpl">
                <textarea 
                [nzSize]="'large'"
                formControlName="description"
                placeholder="Ваше описание"
                [nzAutosize]="{ minRows: 4, maxRows: 6 }" 
                nz-input></textarea>
                <ng-template #descriptionErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        Добавьте описание!
                    </ng-container>
                    <ng-container *ngIf="control.hasError('notOnlySpace')">
                        Описание не должно быть пустым!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col 
        [nzXs]="{ span : 24 }" 
        [nzSm]="{ span : 24 }" 
        [nzMd]="{ span : 24 }" 
        [nzLg]="{ span : 24 }" 
        [nzXl]="{ span : 24 }">
            <nz-form-control >
              <button nz-button 
              nzType="primary" 
              [nzSize]="'large'"  
              (click)="submitForm()"
              [disabled]="!rentHouseForm.valid"
               nzBlock="true">  
               <i nz-icon nzType="plus" nzTheme="outline"></i>Добавить объявление</button>
            </nz-form-control>
        </nz-form-item>
    </form>
