<nz-layout class="app-layout">
  <nz-layout>
    <app-navbar [isVisible]="isVisible"></app-navbar>
    <nz-content>
      <div [ngClass]="isVisible?'inner-content':'inner-content-for-login'">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer 
    *ngIf="isVisible"
    >
    halupa.by - Сайт по аренде и продаже недвижимости, 2020 - Created by <a [href]="linkedInUrl" rel="noreferrer" target="_blank">Романов Роман</a>
    </nz-footer>
  </nz-layout>
</nz-layout>
