<nz-layout class="app-layout">
  <nz-layout>
    <nz-header *ngIf="isVisible" >
      <div class="app-header">
        <div  class="toggle">
          <i nz-icon nzType="menu" nzTheme="outline" (click)="onToggle();" style="cursor: pointer;"></i>
      </div>
      <ul (nzClick)="onToggle()" nz-menu nzMode="horizontal" 
      [ngClass]={visibleMenu:isToggleMenu}>
          <li nz-menu-item nzSelected="true">
              <a [routerLink]="[ '/' ]" routerLinkActive="active" >
                  <i nz-icon nzType="home" nzTheme="outline"></i>halupa.by
              </a>
          </li>
          <li nz-menu-item >
              <a [routerLink]="[ '/flats' ]" >
                  Квартиры
              </a>
          </li>
          <li nz-menu-item >
            <a [routerLink]="[ '/houses' ]" >
                Дома
            </a>
        </li>
          <li nz-menu-item >
              <ng-container *ngIf="authService.isLogedIn() |async; then profile else enter"></ng-container>
              <ng-template #enter>
                  <a [routerLink]="[ '/login' ]" style="margin-right: 8px;">
                      <i nz-icon nzType="login" nzTheme="outline"></i>    
                      Войти
                  </a>
              </ng-template>
              <ng-template #profile>
                  <a [routerLink]="[ '/profile' ]"
                  style="margin-right: 8px;">
                      <i nz-icon nzType="user" nzTheme="outline"></i>    
                      Профиль
                  </a>
              </ng-template>
          </li>
          <li nz-menu-item>
              <a [routerLink]="[ '/create-advert' ]">
                <i nz-icon nzType="plus-circle"></i>
                Добавить объявление</a>
          </li>
      </ul>
      </div>
    </nz-header>
    <nz-content>
      <div [ngClass]="isVisible?'inner-content':'inner-content-for-login'">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer 
    *ngIf="isVisible"
    >
    halupa.by - Сайт по аренде и продаже недвижимости, 2020 - Created by <a [href]="linkedInUrl" rel="noreferrer" target="_blank">Романов Роман</a>
    </nz-footer>
  </nz-layout>
</nz-layout>
