:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  min-height: 100vh;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  .toggle{
    width: 100%;
    padding: 0 24px;
    text-align: right;
    display: none;
    font-size: larger;
  }
  ul{
    padding: 0 24px;
    li:nth-child(4){
      float: right;
    }
    li:last-child{
      float: right;
    }
  }
  
  @media (max-width: 768px){
    .toggle{
      display: block;
    }
    .visibleMenu{
      display: block;
    }
    ul{
      display: none;
      li{
        text-align: center;
        display: block;
      }
      li:nth-child(4){
        float: unset;
      }
      li:last-child{
        float: unset;
      }
    }
  }
}

nz-content {
  margin: 24px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.inner-content-for-login{
  background: #f0f2f5;
}
nz-footer {
  text-align: center;
}
