// -------- import official less file -----------
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

@upload-picture-card-size: 100%;
app-navbar{
  background-color: #fff;
    li{
      float: left;
    }
    li:nth-child(3){
      float: right;
    }
    li:last-child{
      float: right;
    }
    @media (max-width:768px) {
      li{
        float: unset;
      }
      li:nth-child(3){
        float: unset;
      }
      li:last-child{
        float: unset;
      }
    }
}
app-navbar::before{
  box-sizing: content-box !important;
}
app-navbar::after{
  box-sizing: content-box !important;
}
.ant-tag{
  cursor: pointer;
}
.center-align{
  text-align: center;
}
nz-layout:last-child {
  margin: 0;
}

nz-footer {
  text-align: center;
}
.inner-content {
  padding: 0 24px;
}
.outer-content {
  padding: 50px 50px;
}
.inner-layout {
  padding: 24px 0;
  background: #fff;
}
[nz-carousel-content] {
  text-align: center;
  height: 350px;
  line-height: 350px;
  color: #fff;
  overflow: hidden;
}
body{
  background-color:@layout-body-background;
}
