// -------- import official less file -----------
@import "~ng-zorro-antd/ng-zorro-antd.less";
#modal-form {
  // nz-form-item{
  //   margin-bottom: 0px;
  // }
  
}
::-webkit-scrollbar{
  width: 0;
}
app-navbar{
  background-color: #fff;
    li{
      float: left;
    }
    li:nth-child(3){
      float: right;
    }
    li:last-child{
      float: right;
    }
    @media (max-width:768px) {
      li{
        float: unset;
      }
      li:nth-child(3){
        float: unset;
      }
      li:last-child{
        float: unset;
      }
    }
}
app-navbar::before{
  box-sizing: content-box !important;
}
app-navbar::after{
  box-sizing: content-box !important;
}
.ant-tag{
  cursor: pointer;
}
.center-align{
  text-align: center;
}
nz-layout:last-child {
  margin: 0;
}

nz-footer {
  text-align: center;
}
.inner-content {
  padding: 0 24px;
}
.outer-content {
  padding: 50px 50px;
}
.inner-layout {
  padding: 24px 0;
  background: #fff;
}
body{
  background-color:@layout-body-background;
}
