                <form nz-form [formGroup]="searchForm" nzLayout="vertical"  (ngSubmit)="submitSearchForm()">
                    <nz-row nzGutter="16" nzAlign="bottom" nzType="flex">
                        <div nz-col [nzXs]="{ span : 24}" [nzSm]="{ span : 24}" [nzMd]="{ span: 12 }" [nzLg]="{ span : 12 }" [nzXl]="{ span : 6 }"> 
                            <nz-form-item>
                                <nz-form-label nzFor="city">Выберите город</nz-form-label>
                                <nz-form-control 
                                nzErrorTip="Выберите город!">
                                <nz-select 
                                [(ngModel)]="selectedCity"
                                formControlName="city"
                                [nzSize]="'large'"
                                nzPlaceHolder="Выберите город">
                                  <nz-option
                                    *ngFor="let city of listOfCities"
                                    [nzLabel]="city.label"
                                    [nzValue]="city.value"
                                    >
                                  </nz-option>
                                </nz-select>
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col [nzXs]="{ span : 24}" [nzSm]="{ span : 24}" [nzMd]="{ span: 12 }" [nzLg]="{ span : 12 }" [nzXl]="{ span : 6 }">
                            <nz-form-item >
                                <nz-form-label nzFor="rooms">Выберите квартиру</nz-form-label>
                                <nz-form-control 
                                nzErrorTip="Выберите квартиру!">
                                    <nz-select 
                                    [(ngModel)]="selectedRoom"
                                    formControlName="rooms"
                                    [nzSize]="'large'"
                                    nzPlaceHolder="Выберите срок">
                                      <nz-option
                                        *ngFor="let room of listOfRooms"
                                        [nzLabel]="room.label"
                                        [nzValue]="room.value"
                                        >
                                      </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col [nzXs]="{ span : 24}" [nzSm]="{ span : 24}" [nzMd]="{ span: 12 }" [nzLg]="{ span : 12 }" [nzXl]="{ span : 6 }">
                            <nz-form-item >
                                <nz-form-label>Стоимость</nz-form-label>
                                <nz-form-control 
                                nzErrorTip="Укажите стоимость!" >
                                <nz-input-group nzCompact nzSize="large">
                                    <nz-input-number [(ngModel)]="priceMin" formControlName="priceMin"
                                    [nzMin]="0"
                                    [nzMax]="10000"
                                    [nzStep]="10" nzSize="large"
                                    [nzFormatter]="formatterDollar"
                                    [nzParser]="parserDollar" style="width: 45%;" nzPlaceHolder="От"
                                  ></nz-input-number>
                                    <input
                                      type="text"
                                      disabled
                                      nz-input
                                      placeholder="~"
                                      style="width: 10%; border-left: 0px; border-right: 0px; pointer-events: none; background-color: rgb(255, 255, 255);"
                                    />
                                    <nz-input-number [(ngModel)]="priceMax" formControlName="priceMax"
                                    [nzMin]="10"
                                    [nzMax]="10000"
                                    [nzStep]="10" nzSize="large"
                                    [nzFormatter]="formatterDollar" nzPlaceHolder="До"
                                    [nzParser]="parserDollar" style="width: 45%; border-left: 0px;"
                                  ></nz-input-number>
                                  </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col  [nzXs]="{ span : 24}" [nzSm]="{ span : 24}" [nzMd]="{ span: 12 }" [nzLg]="{ span : 12 }" [nzXl]="{ span : 6 }">
                            <nz-form-item  >
                                <nz-form-label nzFor="rentType">Тип аренды</nz-form-label>
                                <nz-form-control 
                                nzErrorTip="Выберите тип аренды!">
                                    <nz-select 
                                    [(ngModel)]="selectedRentType"
                                    formControlName="rentType"
                                    [nzSize]="'large'"
                                    nzPlaceHolder="Тип аренды">
                                      <nz-option
                                        *ngFor="let rentType of listOfRentType"
                                        [nzLabel]="rentType.label"
                                        [nzValue]="rentType.value"
                                        >
                                      </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div  nz-col  [nzXs]="{ span : 24}" [nzSm]="{ span : 24}" [nzMd]="{ span: 24 }" [nzLg]="{ span : 24 }" [nzXl]="{ span : 24 }">
                            <nz-form-item   >
                                <nz-form-control  >
                                    <button  nzType="primary" nz-button  nzBlock="true" nzSize="large" [disabled]="!searchForm.valid">
                                        <i nz-icon nzType="search"></i>Найти
                                    </button>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </nz-row>
                </form>