    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" nzSize="large">
        <nz-tab nzTitle="Длительно">
            <ng-template nz-tab>
                <form nz-form [formGroup]="longForm" nzLayout="vertical">
                    <nz-row nzGutter="16" nzAlign="bottom" nzType="flex">
                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label nzFor="city">Выберите город</nz-form-label>
                                <nz-form-control 
                                nzErrorTip="Выберите город!">
                                <nz-select 
                                [(ngModel)]="selectedCity"
                                formControlName="city"
                                [nzSize]="'large'"
                                nzPlaceHolder="Выберите город">
                                  <nz-option
                                    *ngFor="let city of listOfCities"
                                    [nzLabel]="city.label"
                                    [nzValue]="city.value"
                                    >
                                  </nz-option>
                                </nz-select>
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="8">
                            <nz-form-item >
                                <nz-form-label nzFor="rooms">Выберите квартиру</nz-form-label>
                                <nz-form-control 
                                nzErrorTip="Укажите срок!">
                                    <nz-select 
                                    [(ngModel)]="selectedRoom"
                                    formControlName="rooms"
                                    [nzSize]="'large'"
                                    nzPlaceHolder="Выберите срок">
                                      <nz-option
                                        *ngFor="let room of listOfRooms"
                                        [nzLabel]="room.label"
                                        [nzValue]="room.value"
                                        >
                                      </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col  [nzSpan]="8" >
                            <nz-form-item  >
                                <nz-form-control>
                                    <button nzType="primary" nz-button  nzBlock="true" nzSize="large">
                                        <i nz-icon nzType="search"></i>Найти
                                    </button>
                                </nz-form-control>
                              
                            </nz-form-item>

                        </div>
                    </nz-row>
                </form>
            </ng-template>    
        </nz-tab>
        <nz-tab nzTitle="Часы/сутки">
            <ng-template nz-tab>
                <form nz-form [formGroup]="short" nzLayout="vertical">
                  
                </form>
            </ng-template>    
        </nz-tab>
    </nz-tabset>