    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" nzSize="large">
        <nz-tab nzTitle="Длительно">
            <ng-template nz-tab>
                <form nz-form [formGroup]="longForm" nzLayout="vertical" >
                    <nz-row nzGutter="16" nzAlign="bottom" nzType="flex">
                        <div nz-col nzSpan="6">
                            <nz-form-item>
                                <nz-form-label nzFor="city">Выберите город</nz-form-label>
                                <nz-form-control 
                                nzErrorTip="Выберите город!">
                                <nz-select 
                                [(ngModel)]="selectedCity"
                                formControlName="city"
                                [nzSize]="'large'"
                                nzPlaceHolder="Выберите город">
                                  <nz-option
                                    *ngFor="let city of listOfCities"
                                    [nzLabel]="city.label"
                                    [nzValue]="city.value"
                                    >
                                  </nz-option>
                                </nz-select>
                            </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="6">
                            <nz-form-item >
                                <nz-form-label nzFor="rooms">Выберите квартиру</nz-form-label>
                                <nz-form-control 
                                nzErrorTip="Укажите срок!">
                                    <nz-select 
                                    [(ngModel)]="selectedRoom"
                                    formControlName="rooms"
                                    [nzSize]="'large'"
                                    nzPlaceHolder="Выберите срок">
                                      <nz-option
                                        *ngFor="let room of listOfRooms"
                                        [nzLabel]="room.label"
                                        [nzValue]="room.value"
                                        >
                                      </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col [nzSpan]="6">
                            <nz-form-item >
                                <nz-form-label>Стоимость</nz-form-label>
                                <nz-form-control 
                                nzErrorTip="Укажите стоимость!" >
                                <nz-input-group nzCompact nzSize="large">
                                    <nz-input-number [(ngModel)]="priceMin" formControlName="priceMin"
                                    [nzMin]="100"
                                    [nzMax]="10000"
                                    [nzStep]="10" nzSize="large"
                                    [nzFormatter]="formatterDollar"
                                    [nzParser]="parserDollar" style="width: 45%;" nzPlaceHolder="От"
                                  ></nz-input-number>
                                    <input
                                      type="text"
                                      disabled
                                      nz-input
                                      placeholder="~"
                                      style="width: 10%; border-left: 0px; border-right: 0px; pointer-events: none; background-color: rgb(255, 255, 255);"
                                    />
                                    <nz-input-number [(ngModel)]="priceMax" formControlName="priceMax"
                                    [nzMin]="200"
                                    [nzMax]="10000"
                                    [nzStep]="10" nzSize="large"
                                    [nzFormatter]="formatterDollar" nzPlaceHolder="До"
                                    [nzParser]="parserDollar" style="width: 45%; border-left: 0px;"
                                  ></nz-input-number>
                                  </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col  [nzSpan]="6" >
                            <nz-form-item  >
                                <nz-form-control>
                                    <button nzType="primary" nz-button  nzBlock="true" nzSize="large">
                                        <i nz-icon nzType="search"></i>Найти
                                    </button>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </nz-row>
                </form>
            </ng-template>    
        </nz-tab>
        <nz-tab nzTitle="Часы/сутки">
            <ng-template nz-tab>
                <form nz-form [formGroup]="short" nzLayout="vertical">
                  
                </form>
            </ng-template>    
        </nz-tab>
    </nz-tabset>