<h4>Мои объявления:</h4>
<ul
      nz-list
      nzSize="small"
      [nzDataSource]="userFlats"
      [nzRenderItem]="Item"
      [nzLoading]="initLoading"
      [nzLoadMore]="loadMore"
      [nzNoResult]="NoFlats"
    >
    <ng-template #NoFlats>
      <nz-empty 
      [nzNotFoundContent]="contentTpl"
    >
      <ng-template #contentTpl>
        <span> У вас нет объявлений </span>
      </ng-template>
    </nz-empty>
    </ng-template>

      <ng-template #Item let-item>
        <li nz-list-item 
        [nzActions]="[options]" 
        [nzContent]="itemDetail" 
        nzNoFlex>
        </li>
        <ng-template #itemDetail>
          <a (click)="onMove(item)">
            {{ item | address : 'full' }}
          </a>
        </ng-template>
        <ng-template #options>    
            <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
              <i nz-icon nzType="ellipsis"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="onDelete(item)"><i nz-icon nzType="delete" nzTheme="outline"></i>Удалить</li>
              <li nz-menu-item (click)="onEdit(item)"><i nz-icon nzType="edit" nzTheme="outline"></i>Редактировать</li>
            </ul>
          </nz-dropdown-menu>
        </ng-template>
      </ng-template>
    </ul>
    <ng-template #loadMore >
        <button nz-button *ngIf="!loadingMore" nzType="link" nzBlock nzSize="small" (click)="onLoadMore()" style="float: right; margin-top: 8px; margin-bottom: 8px;">Загрузить еще</button>
    </ng-template>
<nz-divider></nz-divider>
<button nz-button nzType="primary" nzBlock (click)="logOut()">
    <i nz-icon nzType="logout" nzTheme="outline"></i>    
    Выйти
</button>