<h4>Мои объявления:</h4>
<ul
      nz-list
      [nzDataSource]="userFlats"
      nzSize="small"
      [nzRenderItem]="Item"
      [nzLoading]="loading"
      [nzNoResult]="NoFlats"
    >
    <ng-template #NoFlats>
      <nz-empty 
      [nzNotFoundContent]="contentTpl"
    >
      <ng-template #contentTpl>
        <span> У вас нет объявлений </span>
      </ng-template>
    </nz-empty>
    </ng-template>

      <ng-template #Item let-item>
        <li nz-list-item 
        [nzActions]="[options]" 
        [nzContent]="itemDetail" 
        nzNoFlex>
        </li>
        <ng-template #itemDetail>{{ item | address : 'full' }}</ng-template>
        <ng-template #options>    
            <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
              <i nz-icon nzType="ellipsis"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li nz-menu-item (click)="onDelete(item)"><i nz-icon nzType="delete" nzTheme="outline"></i>Удалить</li>
              <li nz-menu-item (click)="onEdit(item)"><i nz-icon nzType="edit" nzTheme="outline"></i>Редактировать</li>
              <li nz-menu-item (click)="onSwitchVisible(item)"><i nz-icon nzType="eye-invisible" nzTheme="outline"></i>Снять</li>
            </ul>
          </nz-dropdown-menu>
        </ng-template>

      </ng-template>
    </ul>
<nz-divider></nz-divider>
<nz-descriptions [nzColumn]="2" nzTitle="Company">
  <nz-descriptions-item nzTitle="Position" [nzSpan]="1">Programmer</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Responsibilities" [nzSpan]="1">Coding</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Department" [nzSpan]="1">AFX</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Supervisor" [nzSpan]="1">Lin</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Skills" [nzSpan]="2">
    C / C + +, data structures, software engineering, operating systems, computer networks, databases, compiler
    theory, computer architecture, Microcomputer Principle and Interface Technology, Computer English, Java, ASP,
    etc.
  </nz-descriptions-item>
</nz-descriptions>
<nz-divider></nz-divider>
<nz-descriptions [nzColumn]="2" nzTitle="Contacts">
  <nz-descriptions-item nzTitle="Email" [nzSpan]="1">AntDesign@example.com</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Phone Number" [nzSpan]="1">+86 181 0000 0000</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Github" [nzSpan]="2">
    <a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank">github.com/NG-ZORRO/ng-zorro-antd</a>
  </nz-descriptions-item>
</nz-descriptions>
<button nz-button nzType="primary" nzBlock (click)="logOut()">
    <i nz-icon nzType="logout" nzTheme="outline"></i>    
    Выйти
</button>