<nz-divider [nzText]="filterTextTpl" nzOrientation="left"></nz-divider>
<ng-template #filterTextTpl>
    <i nz-icon nzType="filter" nzTheme="outline"></i> Фильтр
</ng-template>
    <form 
    (ngSubmit)="submitHelper(helperForm.value)" 
    nz-form 
    [nzLayout]="'horizontal'" 
    [formGroup]="helperForm" 
    nz-row 
    nzGutter="24" 
    nzJustify="space-around">
        <nz-form-item nz-col 
        [nzXs]="{ span : 24 }"
        [nzSm]="{ span : 24 }"
        [nzMd]="{ span : 9 }"
        [nzLg]="{ span : 9 }"
        [nzXl]="{ span : 9 }">
            <nz-form-control >
                <nz-radio-group formControlName="advertType" [nzButtonStyle]="'solid'" [nzSize]="'large'">
                <label nz-radio-button [nzValue]="advertType.value" *ngFor="let advertType of advertTypesList">{{ advertType.label }}</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col
        [nzXs]="{ span : 24 }"
        [nzSm]="{ span : 24 }"
        [nzMd]="{ span : 9 }"
        [nzLg]="{ span : 9 }"
        [nzXl]="{ span : 9 }">
            <nz-form-control >
                <app-province-input formControlName="province"></app-province-input>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-col
        [nzXs]="{ span : 24 }"
        [nzSm]="{ span : 24 }"
        [nzMd]="{ span : 5 }"
        [nzLg]="{ span : 5 }"
        [nzXl]="{ span : 5 }" >
            <nz-form-control >
                <button nz-button nzBlock="true" nzSize="large"  nzType="dashed" ><i nz-icon nzType="enter" nzTheme="outline"></i>Применить</button>
            </nz-form-control>
        </nz-form-item>
    </form>
<nz-divider [nzText]="advertsTextTpl" nzOrientation="left"></nz-divider>
<ng-template #advertsTextTpl>
    <i nz-icon nzType="database" nzTheme="outline"></i> Объявления
</ng-template>
<app-flats-sale  *ngIf="isShowComponent" ></app-flats-sale>
<app-flats-rent  *ngIf="!isShowComponent"></app-flats-rent>
